body{
	background-color: #0f8018;
}

#map{
	width: 100%;
	height:700px;
}

/*
body{
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)), url(image.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
*/

/*
#loading-gif{
	margin-left: auto;
	margin-right: auto;
}
*/

.upload{
	color: white;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#info-container {
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}
